.*
!.gitignore
*.elc
*~
projectile.cache
/auto-save-list
/elpa
/backups
/autosaves
/var
/url
/tramp
/ido.last
/recentf
/smex-items
/saveplace
/savehist
/bookmarks
/ac-comphist.dat
/semanticdb
/my-autoloads.el
/session.*
/projectile-bookmarks.eld
/irony
/TODO.org
/abbrev_defs*
/inferior-*-history
/eshell
/exttextcat
/image-dired
/lisp/my-autoloads.el
/network-security.data
/anaconda-mode
/lisp/setup-org-mode-private.el
/request
/transient
/org-journal.cache
/emojis/
/persist/
/org-roam.db
/oauth2-auto.plist
/projects
