[submodule "vendor/atilde"]
	path = vendor/atilde
	url = https://github.com/jedrz/atilde.git
[submodule "vendor/exttextcat"]
	path = vendor/exttextcat
	url = https://github.com/jedrz/exttextcat.el.git
